{% extends 'base.html.twig' %}

{% block title %}
    {% if books is not empty%}
        {{ books.0.category.name}}
    {% endif %}
{% endblock %}

{% block body %}
    {{ parent() }}

    <main class="width_80">
        {% if books is not empty%}
        <h1 class="center">{{ books.0.category.name}}</h1>
        <a class="add" href="/book/add">{% trans %}Add a book{% endtrans %}</a>
        <div class="marg_30 flexRow center_flex2">
            {% for book in books %}
                <div class="containerBooks wrap center_flex">
                    <a href="/book/{{ book.id }}" class="center_flex">
                        <img class="width_50" src="{{ book.picture }}" alt="{{ book.name }}">
                        <p class="grey center">{{ book.name }}</p>
                    </a>
                </div>
            {% endfor %}
        </div>
            {% else %}
                <div class="marg_30">
                    <a class="add" href="/book/add">{% trans %}Add a book{% endtrans %}</a>
                </div>
                <p>{% trans %}There are no books at the moment{% endtrans %}!</p>
        {% endif %}

    </main>
{% endblock %}
